@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR&display=swap');

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* font-family: system-ui, Helvetica, Aral, sans-serif, "Noto Sans KR", "Noto Sans JP"; */
  --bs-font-sans-serif: system-ui,-apple-system,Roboto,"Noto Sans",Arial,sans-serif,"Noto Sans KR", "Noto Sans JP";
  --bs-body-font-family: var(--bs-font-sans-serif);
}

body {
  font-family: var(--bs-body-font-family);
  font-weight: 400;
}
